* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

.img-slide img {
    height: 580px;
    object-fit: cover;
}

/* body {
    background-color: #f5e4d7;
} */

header {
    background-color: rgb(47, 9, 65);
    color: #f5e4d7;
}

.navbar-brand img {
    object-fit: contain;
}

.search-bar {
    max-width: 500px;
    margin: auto auto;
}

.search-bar .input-group {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-bar .form-control {
    border: none;
    padding-left: 20px;
}

.search-bar .btn {
    border: none;
    padding: 10px 20px;
}

nav {
    color: rgb(47, 9, 65);
    background-color: #f5e4d7;
}

li a{
    color: rgb(47, 9, 65);
}
.bg-none{
    background-color: white;
    border: none;
}

.deals{
    background-color: #f5e4d7;
}

footer{
    background-color: rgb(47, 9, 65);
    color: #f5e4d7;
}

.bg-color{
    background-color: #f5e4d7;
}